body {
    background-color: rgb(201, 70, 70);
}

h1 {
    text-align: center;
    font-size: 5vw;
    margin-bottom: 5vh;
}

input[type=button] {
    display: block;
    margin: 0 auto;
    font-size: 1vw;
    padding: 1vw;
    color: rgb(21, 190, 20);
    background-color: #ccc;
    text-align: center;
}

